@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	font-size: 62.5%;
	box-sizing: border-box;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	padding: 0;
	margin: 0;
	vertical-align: baseline;

	list-style: none;
	border: 0;
}

body {
	padding: 0;
	margin: 0;

	font-size: 1.6rem;
	font-family: 'Public Sans', Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #000;
	background-color: #fff;
	color-scheme: light dark;
}

a {
	text-decoration: none;
}
